*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#020617;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

/* QUADROS */
.quadro{
width:100%;
max-width:800px;
margin:auto;
background:rgba(17,24,39,.75);
border-radius:30px;
padding:40px;
border:1px solid rgba(255,255,255,.08);
box-shadow:0 25px 80px rgba(0,0,0,.5);
backdrop-filter:blur(20px);
animation:entrar .6s ease;
}

@keyframes entrar{
from{opacity:0; transform:translateY(30px);}
to{opacity:1; transform:translateY(0);}
}

/* INTRO */
.intro{
text-align:center;
}

.icone-quadro{
font-size:60px;
margin-bottom:20px;
}

h1{
font-size:2rem;
margin-bottom:10px;
}

h2{
color:#67e8f9;
margin-bottom:20px;
}

/* BOTÕES */
.btn-acao{
background:linear-gradient(135deg,#6C63FF,#00E5FF);
border:none;
padding:15px 25px;
border-radius:20px;
color:white;
font-weight:bold;
cursor:pointer;
margin-top:20px;
}

/* QUIZ */
.botoes{
display:flex;
gap:10px;
margin-top:20px;
}

.resposta{
flex:1;
padding:15px;
border:none;
border-radius:15px;
cursor:pointer;
}

.resposta-sim{background:#10b981;color:white;}
.resposta-nao{background:#ef4444;color:white;}

.barra{
height:10px;
background:#1f2937;
border-radius:10px;
margin:15px 0;
overflow:hidden;
}

.barra-preenchimento{
height:100%;
width:0%;
background:linear-gradient(90deg,#6C63FF,#00E5FF);
}

/* ANALISE */
.spinner{
width:50px;
height:50px;
border:5px solid #333;
border-top:5px solid #00E5FF;
border-radius:50%;
margin:20px auto;
animation:spin 1s linear infinite;
}

@keyframes spin{
to{transform:rotate(360deg);}
}

/* CAMERA */
.preview img{
width:100%;
max-width:300px;
margin-top:20px;
border-radius:20px;
}

/* RESULTADO */
#fotoFinal{
width:100%;
max-width:300px;
margin-top:20px;
border-radius:20px;
}

.oculto{
display:none !important;
}